@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:black;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color:gray;
}

input::placeholder, textarea::placeholder {
  color: gray;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: gray;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color:gray;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: gray;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: black;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: black;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  background: whitesmoke;
  color: black;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 40px;
  text-align: center;
  
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: gainsboro;
  
  border: solid 1px black;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: rgb(187, 154, 7);
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  
  border: solid 1px black;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: rgb(187, 154, 7);
  color: black;
}

#submit {
  width: 470px;
  
  padding: 0;
  margin: -7px 0px 0px 0px;
  
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  color:gray;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px black;
  border-top: none;
}

#submit:hover {
  color: black;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quattrocento Sans', sans-serif;

}

