.body {
    overflow: auto;
    position: relative;
  }
  
.body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://i.ibb.co/JCq6xsB/3L9A1198.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  .nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    background-color: black;
     position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1; 
  }

  .navlogo{
    width:120px;
    height: 20;
  }
  
  .link {
    color: white;
    -webkit-text-fill-color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 22px;
  }
  
  .hover:hover {
    background-color: rgb(187, 154, 7);
  }
  
  .logo {
    width: 800px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 180px;

  }